html{
    background-color: rgb(213, 211, 209);
    font-family: sans-serif;
}

main{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
}

h1{
    padding: 1rem;
}

a {
    border: solid 1px black;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    width: 7rem;
}

.moviebuttons{
    padding: 2rem;
}

input {
    
    border-radius: 5px;
}

#newAccount {
    border: none;
    text-decoration: underline;
}

#rememberMe {
    display: flex;
    justify-content: center;
 
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
      
    
}

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }