<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    {% extends 'base.html' %}
    <title>Account</title>
</head>
{% block main %}

<body>
   
    <main>
    <div id="accountpage">
      <div id="updateaccountdiv">
      <h1>ACCOUNT</h1>
        <form id="updateAccountForm" action="{{url_for('updateName')}}", method="post", onsubmit="name_confirmation()">
          <input type="text" name="firstname" placeholder="First name">
          <input type="hidden" name="user_id" value="{{current_user.id}}">
          <input type="submit" value="Update">
          <script>
            function name_confirmation() {
            alert("Name updated");
            }
          </script>
        </form>

        <form id="updateAccountForm" action="{{url_for('updateEmail')}}", method="post", onsubmit="email_confirmation()">
          <input type="text" name="email" placeholder="Email address">
          <input type="hidden" name="user_id" value="{{current_user.id}}">
          <input type="submit" value="Update">
          <script>
            function email_confirmation() {
            alert("Email updated");
            }
          </script>
        </form>

        <form id="updateAccountForm" action="{{url_for('updatePassword')}}", method="post", onsubmit="pword_confirmation()">
          <input type="password" name="password" minlength="6" placeholder="Password">
          <input type="hidden" name="user_id" value="{{current_user.id}}">
          <input type="submit" value="Update">
          <script>
            function pword_confirmation() {
            alert("Password updated");
            }
          </script>
        </form>

        <form id="deleteAccount" action="{{url_for('deleteAccount')}}", method="post", onsubmit="delete_confirm(event)">
          <input type="hidden" name="user_id" value="{{current_user.id}}">
          <input type="submit" value="Delete account">
          <script>
            function delete_confirm(e) {
              if(confirm('Are you sure?'))
                alert('Account Deleted');
              else {
               alert('Action cancelled');
               e.preventDefault();
              }
            }
          </script>
        </form>

        <a href="/likes">Manage my likes</a>
      </div>
    </div>
</main>
</body>
{% endblock %}
</html>