<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<ul>
    <li>
        <a href="/">Home</a>
         {% if current_user.is_anonymous %}
         <div id="right-nav">
            <a id="rightBtn" href="{{ url_for('login') }}">Login</a>
        </div>
        {% else %}
        <div id="right-nav">
            <a id="rightBtn" href="{{ url_for('logout') }}">Logout</a>
            <a id="rightBtn" href="{{ url_for('my_account') }}">My account</a>
        </div>
        {% endif %}  
    
    </li>
</ul>

    {% block main %}

    {% endblock %}

</html>