<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>The randomizer</title>
</head>

<body>
    <div>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <p>Welcome {{current_user.username}}</p>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}  
    </div>
    <h1>Welcome to the movie randomizer</h1>
    <a href="/movies">Click me!</a>
</body>
</html>
