<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Random</title>
</head>

<body>
    <h1>Your movie:</h1> <!-- In test_movies_route -->
    <p>
        Title: {{movie_title}}<br>
    </p>
    <p>
        Year: {{movie_year}}<br>
    </p>
    <p>
        Rating: {{movie_rating}}
    </p>
    <div class="moviebuttons">
        <a href="/movies">Try again</a>
        <!-- <a href="/movies_demo">DEMO</a> -->
        <a href={{trailer_link}}>Trailer</a>
        <a href="/movies_demo">DEMO</a>
        <a href="/">Home</a>
    </div>  
</body>
</html>
