<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="static/css/styles.css">
   {% extends 'base.html' %}
   <title>register</title>
</head>
{% block main %}
<body>
   <main>
<h1>Create an Account</h1>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   {% for message in messages %}
   <p style="color: red;">Error: {{ message }}</p>
   {% endfor %}
   {% endif %}
   {% endwith %}
<br>
<form action="" method="post">
   {{ form.hidden_tag() }}
   <div id="formid">
      {{ form.firstname(placeholder="first name") }} 
      {% for error in form.firstname.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div id="formid">
      {{ form.email(placeholder="email") }}
      {% for error in form.email.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div id="formid">
      {{ form.password1(placeholder="password") }} 
      {% for error in form.password1.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div id="formid">
      {{ form.password2(placeholder="confirm password") }}
      {% for error in form.password2.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div id="formid">{{ form.submit() }}
   </div>
</form>

</main>
</body>
{% endblock %}
</html>